/* ProductContainerStyle.css */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 50px;
}

.grid-item {
  width: 100%; 
}


.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 5px;
}

.filter-bar select,
.filter-bar button {
  margin: 0 150px; 
}

.products {
  grid-column: span 3; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 10px;
}
