.banner-header {
    background-color: #000000;
    height: 350px;
    overflow: hidden; 

  }
  
  .banner-header img {
    width: 1300px; 
    height: 350px; 
    display: block; 
    object-fit: cover; 
  }
  
  
 
  