/* ProductCardStyle.css */

.product-card {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    transition: background-color 0.3s;
    background-color: #FFA500;
    max-width: 100%;
    height: auto;
    
  }
  
  .product-card:hover {
    background-color: #f8bb4b;
  }
  
  .notification {
    color: rgb(0, 0, 0);
  }

  .black-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
/* ProductCardStyle.css veya uygun stil dosyanızda */

.img-fixed-size {
  width: 370px; /* Genişlik belirtilen piksel cinsinden olacak */
  height: 350px; /* Yükseklik belirtilen piksel cinsinden olacak */
}
