/* ProductCardStyle.css */

.product-card {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    transition: background-color 0.3s;
    background-color: #FFA500;
  }
  
  .product-card:hover {
    background-color: #f8bb4b;
  }
  
  .notification {
    color: rgb(0, 0, 0);
  }

  .black-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
